/* image de fond */
#img_bg{
    width : 100%;
}

/* mise en forme du contenu texte */


/* gestion de lien */ 
div #chemin p a:link, div #chemin p a:visited{
    color : black;
    font-size: 40;
    font-weight: 700;
    text-decoration: none;
}

div .infos #chemin p a:hover, div .rubrique #carte p a:hover{
    color : #264653;
    font-size: 45;
    font-weight: 800;
}
div #carte p a:link, div #carte p a:visited{
    text-decoration: none;
    color : black;
    font-size : 40;
    font-weight: 0;
}

/* titre de la page */ 
h2{
    color: black;
    font-size : 60;
    font-weight: 700
}

/* texte sur image*/
.cat-1 {
    display: inline-block;
    position: relative;
}
.cat-1 #text {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position : absolute;
    text-align: center;
    color: white;
    width: 275px;
    top : 0px;
    left : 12px;
}

.cat-2 {
    display: inline-block;
    position: relative;
}
.cat-2 #text2 {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position : absolute;
    text-align: center;
    color: white;
    width: 275px;
    top : 0px;
    left : 12px;
}

.cat-3 {
    display: inline-block;
    position: relative;
}
.cat-3 #text3 {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position : absolute;
    text-align: center;
    color: white;
    width: 275px;
    top : 0px;
    left : 12px;
}

.cat-4 {
    display: inline-block;
    position: relative;
}
.cat-4 #text4 {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position : absolute;
    text-align: center;
    color: white;
    width: 275px;
    top : 0px;
    left : 12px;
}

.cat-5 {
    display: inline-block;
    position: relative;
}
.cat-5 #text5 {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position : absolute;
    text-align: center;
    color: white;
    width: 275px;
    top : 0px;
    left : 12px;
}

/* mise en forme des rubriques */
.rubrique{
    display : grid;
    justify-content: space-evenly;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 250px 250px;
    gap: 10 px;
    background-color: white;
    padding: 0px;

}

.rubrique > div {
    text-align: center;
    font-size: 40;
    color : black
}

/* placement des éléments dans grid*/
.carte{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}


/* image dans div section */
.rubrique img{
    height : 200px;
    width : 275px;
}


