/* image de fond */
#img_bg {
    width: 100%;
}

.infos {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    background-color: var(--c6);
}

/* gestion de lien */
div #chemin p a:link,
div #chemin p a:visited {
    color: black;
    font-size: 40;
    font-weight: 700;
    text-decoration: none;
}

#chemin p a:hover,
#carte p a:hover {
    color: #264653;
    font-size: 45;
    font-weight: 800;
}

div #carte p a:link,
div #carte p a:visited {
    text-decoration: none;
    color: black;
    font-size: 40;
    font-weight: 0;
}


/* titre de la page */
h2 {
    color: black;
    font-size: 60;
    font-weight: 700
}


/* texte sur image*/
.cat-1,
.cat-2,
.cat-3,
.cat-4,
.cat-5 {
    display: inline-block;
    position: relative;
}

.cat-1 #text,
.cat-2 #text2,
.cat-3 #text3,
.cat-4 #text4,
.cat-5 #text5 {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    color: white;
    width: 70%;
    top: 0px;
    left: 12px;
    margin-top: 10px;
}

.cat img {
    margin-top: 10px;
}






.renseignement {
    width: 30%;
    display: block;
    text-align: center;
}

/* placement des éléments dans grid*/

.contenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.cat {
    display: grid;
    align-items: center;
    width: 70%;
}


.cat img {
    width: 80%;
}

[class^="cat-"] {
    margin-left: 25%;
}

[class^="cat-"]:hover {
    filter: blur(1px);
    filter: drop-shadow(0 0 0.75rem #404040);
}

.cat-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.cat-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.cat-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.cat-4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.cat-5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}


@media screen and (max-width:768px) {

    .renseignement,
    #carte_txt {
        display: flex;
        flex-direction: column;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    div #carte {
        display: flex;
        flex-direction: column;
    }

    #map {
        width: 90%;
    }

    .cat {
        display: flex;
        flex-direction: column;
    }
    [class^="cat-"] {
        margin-top: 5%;
    }
}

@media screen and (max-width:1285px) {
    .contenu {
        display: flex;
        flex-direction: column;
    }

    .renseignement {
        width: 100%;
    }

    #carte {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .cat {
        padding-top: 3%;
        width: 85%;
    }
}