/* image de fond */
.fond #img_bg{
    width : 100%;
}

/* mise en forme du contenu texte */
div .content_txt .infos, div .content_txt .section{
    margin-right: 100px;
    margin-left: 100px;
}

/* fond de couleur pour les sections de la page */
.content_txt .section{
    background-color: #f3f3f3;
    display: inline;
}

/* gestion de lien */ 
div #chemin p a:link, div #chemin p a:visited{
    color : black;
    font-size: 40;
    font-weight: 700;
    text-decoration: none;
}

div .infos #chemin p a:hover, div .section #carte p a:hover{
    color : #264653;
    font-size: 45;
    font-weight: 800;
}
div #carte p a:link, div #carte p a:visited{
    text-decoration: none;
    color : black;
    font-size : 40;
    font-weight: 0;
}

/* titre de la page */ 
h2{
    color: black;
    font-size : 60;
    font-weight: 700
}

/* mise en forme du contenu */
.section{
    display : grid;
    padding-right: 10%;
    grid-template-columns: 100% ;
}

/* mise en forme du texte dans section */
div .section p{
    text-align: justify;
    font-size: 40;
    color : black
}


/* image dans div section */
div .section img{
    height : 200px;
    width : 275px;
}


