:root {
    /*Palette de Couleurs*/
    --c0: #404040;
    --c1: #264653;
    --c2: #2A9D8F;
    --c3: #E9C46A;
    --c4: #F4A261;
    --c5: #E76F51;
}


/*Police d'écriture format pc*/

.Ptxt {
    font-size: 24px;
}

.Ptitle {
    font-size: 40px;
    font-weight: bold;
}

.Psection {
    font-size: 60px;
    font-weight: bold;
}


/*Police d'écriture format tél*/

.Mtxt {
    font-size: 24px;
}

.Mtitle {
    font-size: 40px;
    font-weight: bold;
}

.Msection {
    font-size: 40px;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.video span {
    position: absolute;
    z-index: 999;
    left: 0;
    margin: 15px;
    font-size: 40px;
    backdrop-filter: blur(20px);
    cursor: pointer;
    user-select: none;
}


/* Style des titres section */

.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}


/* Style du bloc d'actu */

.actu {
    background-color: rgb(217, 217, 217);
    margin-top: 2%;
    display: block;
    margin-bottom: 15px;
}


/* Alignement entre l'icone et le texte */

.actus-bloc {
    display: block;
    margin-top: 15px;
}

.top-actus {
    display: flex;
    justify-content: space-evenly;
}

.top-actu-left {
    width: 40%;
    height: 100%;
}

.texte-actu {
    background-color: rgb(86, 70, 70);
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: space-evenly;
}

.top-actu-right {
    width: 40%;
    height: 100%;
}

.card-body {
    text-align: center;
    background-color: rgb(90, 70, 70);
    padding-top: 8%;
    padding-bottom: 8%;
    height: 30%;
    color: white;
}

.actu-bot {
    display: none;
    justify-content: space-evenly;
}

.actu-bot-info {
    margin-top: 5%;
    width: 25%;
    height: 70%;
    background-color: rgb(80, 74, 74);
}



/* Style de l'agenda */


.timeline {
    width: 49%;
    background-color: rgb(217, 217, 217);
    padding-bottom: 50px;
    position: relative;
    max-width: 1200px;
}

.container {
    padding: 10px 15px;
    position: relative;
    width: 40%;
}

.container img {
    width: 40px;
    position: absolute;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.text-box {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.text-box h2 {
    font-weight: 600;
}

.left-container {
    margin-left: 10%;
}

.right-container {
    margin-right: 10%;
}

.right-container img {
    left: -20px;
}


.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
    margin-top: 100px;
    height: 80%;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 80%;
    }
}





/* Style de la carte de la commune */

.carte-commune {
    width: 49%;
    margin-left: 2%;
    background-color: rgb(217, 217, 217);
}
#map svg{
    background-color: black;
    width: 100%;

}
#map{
    display: flex;
    justify-content: center;
}

#map path{
    fill : var(--c1);
}
#map path:hover{
    fill : var(--c2);
    transition: 0.5s;
}



@media screen and (max-width:511px) {
    .post-actu {
        display: block;
    }


    /* style de l'agenda */
    .timeline {
        width: 100%;
        margin-right: 0;
    }



    .right-container {
        margin-right: 50%;
    }

    .left-container img {
        left: -20px;
    }

    .timeline::after {
        left: 10%;
    }

    .container {
        width: auto;
    }

    .right-container {
        margin-left: 10%;
        width: 90%;
    }


    /* style de la carte des communes */
    .carte-commune {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }



}



@media screen and (max-width:1266px) {


    /* Responsive des actus */
    .top-actus {
        display: block;
    }

    .top-actu-left,
    .top-actu-right {
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 20px;
    }


    /* responsive de l'agenda */
    .post-actu {
        display: block;
    }

    .timeline {
        width: 100%;
        margin-right: 0;
    }


    /* style de la carte des communes */
    .carte-commune {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }


}