body {
  margin: 0;
  padding: 0;
  position: relative;
}


/* Style de la navbar */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  position: fixed;

  .nav-link {
    color: white;
  }

  .nav-item {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.container-fluid {
  background-color: rgb(49, 68, 85);
  color: white;
  letter-spacing: 0.5px;
}

#logoMorlaix {
  width: 60%;
}

.recherch {
  background-color: white;
  border-radius: 15px;

  .input_recherch {
    border-radius: 15px;
    border: none;
    padding-left: 15px;
  }

  .input_recherch:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  .recherch .fa {
    font-size: 17px;
  }

  .recherch button {
    border: none;

  }
}





/* Style du bloc d'actu */
.actu {
  background-color: rgb(217, 217, 217);
  margin-top: 2%;
  display: block;

  /* Alignement entre l'icone et le texte */
  .texte {
    display: flex;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }

  .actus-bloc {
    display: block;
    

    .top-actus {
      display: flex;
      height: 35%;
      justify-content: space-evenly;

      .top-actu-left {
        width: 40%;
        height: 100%;
        position: relative;

        .texte-actu {
          background-color: rgb(86, 70, 70);
          height: 35%;
          width: 100%;
          position: absolute;
          bottom: 0;
          justify-content: space-evenly;
        }

      }

      .top-actu-right {
        background-image: url("../IMG/top-actu-2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        width: 40%;
        height: 100%;
        position: relative;
      }
    }

    .actu-bot{
      display: flex;
      height: 35%;
      justify-content: space-evenly;
      .actu-bot-info{
        margin-top: 5%;
        width: 25%;
        height: 70%;
        background-color: rgb(80, 74, 74);
      }
    }


  }
}






footer {
  background-color: rgb(64, 64, 64);
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  width: 100%;

  .info-top {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
  }

  .info-abo {
    text-align: center;

    #button {
      border-radius: 20px;
      border: none;
      color: white;
      background-color: rgb(211, 117, 77);
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .reseau-ville {
    display: block;

    .logo {
      display: flex;
    }

    .logo img {
      margin-top: 5px;
      margin-right: 20px;
    }
  }

  .site-plan {
    text-align: center;
  }
}