/* Style de la navbar */


.navbar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    height: 60px;
    background-color: #264653;

}

.navbar a img {
    width: 110px;
    margin-left: 20px;
}

.nav-links {
    display: flex;
}

.nav-links .ss_menu li {
    list-style: none;
    margin-left: 100px;
}

.nav-links .ss_menu li a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.navbar .nav-links .ss_menu {
    display: flex;

}




/* Style des sous-menus */


/* Masquer le sous-menu par défaut */
/* .sm_communaute,
.sortir_et_bouger,
.cadre_vie {
    display: none;
} */


/* Afficher le sous-menu lorsqu'on survole "Communauté" */
/* .comm:hover*/ .sm_communaute, 
/* .domaine:hover*/ .sortir_et_bouger, 
/* .proj:hover*/ .cadre_vie { 
    display: block;
    z-index: 999;
    position: absolute;
    padding-left: 0;
    background-color: #264653;
    /* Ajoutez la couleur de fond souhaitée */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Ajoutez de l'ombre si désiré */
}



/* Style pour les éléments du sous-menu */
.sm_communaute li,
.sortir_et_bouger li,
.cadre_vie li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    line-height: 2;
}

.sm_communaute li a,
.sortir_et_bouger li a,
.cadre_vie li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    /* Couleur du texte */
}

.sm_communaute li a:hover,
.sortir_et_bouger li a:hover,
.cadre_vie li a:hover {
    background-color: #2e5768;
    /* Couleur de fond au survol */
}





.searchBox {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.3);
}

.searchBox input {
    width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}



.navbar .menu-hamburger {
    display: none;
    width: 35px;
    position: absolute;
    right: 10px;
}

@media screen and (max-width : 1266px) {


    /* responsive de la navbar */
    .navbar .menu-hamburger {
        display: block;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: none;
        background-color: #264653;
        width: 100%;
    }


    .nav-links .ss_menu {
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-links .ss_menu li {
        text-align: center;
    }

    .nav-links .ss_menu li a {
        padding-left: 0;
    }



    .divSearch {
        display: none;
        background-color: #264653;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 20px;
    }

    .searchBox {
        width: 40%;
        margin: auto;
    }




    /* responsive du footer */

    .info-top {
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .info-top div {
        padding-bottom: 30px;
    }

}




/* Style du footer */

footer {
    background-color: rgb(64, 64, 64);
    margin: 0;
    color: white;
    width: 100%;
}

.info-top {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.infos-ville a {
    text-decoration: none;
    color: white;
}

.info-abo {
    text-align: center;
}

#button {
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(211, 117, 77);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.reseau-ville {
    display: block;
}

.logo {
    display: flex;
}

.logo img {
    margin-top: 5px;
    margin-right: 20px;
}

.site-plan {
    text-align: center;
}

.site-plan a {
    text-decoration: none;
    color: white;
}

.site-plan p {
    margin: 0;
    padding-bottom: 15px;
}

.post-actu {
    display: flex;
    margin-bottom: 10px;
}