/* Style de la navbar */


.navbar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    height: 60px;
    background-color: #264653;

}

.navbar a img {
    width: 110px;
    margin-left: 20px;
}

.nav-links {
    display: flex;
}


.nav-links ul ul {
    display: none;
    position: absolute;
    background-color: #264653;
    padding: 0;
    z-index: 999;
    top: 100%;
    left: 0;
    text-align: center;
}

.nav-links ul li {
    line-height: 2;
}

.nav-links ul li:hover ul {
    display: block;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin-right: 100px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.nav-links ul ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-links ul ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.nav-links ul ul li:hover {
    background-color: #356274;
}



.searchBox {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.3);
}

.searchBox input {
    width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}



.navbar .menu-hamburger {
    display: none;
    width: 35px;
    position: absolute;
    right: 10px;
}

@media screen and (max-width : 1266px) {

    /* responsive de la navbar */
    .navbar .menu-hamburger {
        display: block;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: block;
        width: 100%;
        background-color: #264653;
    }

    .nav-links ul {
        display: none;
        flex-direction: column;
        align-items: center;

    }

    .nav-links ul li {
        margin: 0;
        margin-top: 5px;
    }

    .nav-links ul ul {
        display: none !important;
    }
    .nav-links ul li:hover ul {
        display: block !important;
    }
    .divSearch {
        display: none;
        padding-bottom: 20px;
    }

    .searchBox {
        width: 30%;
        display: none;
        margin-left: 35%;
        margin-right: 35%;

    }

    /* responsive du footer */

    .info-top {
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .info-top div {
        padding-bottom: 30px;
    }

}




/* Style du footer */

footer {
    background-color: rgb(64, 64, 64);
    margin: 0;
    color: white;
    width: 100%;
}

.info-top {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.infos-ville a {
    text-decoration: none;
    color: white;
}

.info-abo {
    text-align: center;
}

#button {
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(211, 117, 77);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.reseau-ville {
    display: block;
}

.logo {
    display: flex;
}

.logo img {
    margin-top: 5px;
    margin-right: 20px;
}

.site-plan {
    text-align: center;
}

.site-plan a {
    text-decoration: none;
    color: white;
}

.site-plan p {
    margin: 0;
    padding-bottom: 15px;
}

.post-actu {
    display: flex;
    margin-bottom: 10px;
}