.enteteImg img {
    width: 100%;
}

.chemin {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    background-color: var(--c6);
}

.chemin a {
    color: black;
    text-decoration: none;
}

.chemin a:hover {
    font-size: larger;
}

.carousel-item img:hover {
    filter: brightness(50%);
    transition: 0.3s;
}

.texte-carousel {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
    text-align: center;
}

.texte-carousel small {
    color: white;
}

.texte-carousel h2 a,
.texte-carousel small a,
.texte-carousel h3 a,
.texte-carousel h4 a {
    color: white;
    text-decoration: none;
}

.texte-carousel h2,
.texte-carousel h3,
.texte-carousel h4 {
    margin-top: 50px;
    text-align: center;

}

.carousel-item h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: white;
    display: none;
}

#map {
    display: flex;
    justify-content: center;
    background-color: var(--c6);
}

#map iframe {
    width: 90%;
    border: 2px solid black;
    margin: 3% 5% 3% 5%;
}

@media screen and (max-width:1285px) {
    .texte-carousel {
        top: 40%;
    }

    .texte-carousel h2,
    .texte-carousel h3,
    .texte-carousel h4 {
        font-size: medium;
        margin-top: 10px;
    }

    .carousel-item h1 {
        font-size: large;
    }
}


@media screen and (max-width:768px) {
    .carousel-indicators {
        margin-bottom: 0;
    }

    .texte-carousel {
        top: 40%;
    }

    .texte-carousel h2,
    .texte-carousel h3,
    .texte-carousel h4,
    .texte-carousel small {
        font-size: x-small;
        margin-top: 0;
    }

    .texte-carousel small {
        padding-top: 0;
    }

    .carousel-item h1 {
        font-size: small;
    }
}