:root {
    /*Palette de Couleurs*/
    --c0: #404040;
    --c1: #264653;
    --c2: #2A9D8F;
    --c3: #E9C46A;
    --c4: #F4A261;
    --c5: #E76F51;
    --c6: #F3F3F3;
}


/*Police d'écriture format pc*/

.Ptxt {
    font-size: 24px;
}

.Ptitle {
    font-size: 40px;
    font-weight: bold;
}

.Psection {
    font-size: 60px;
    font-weight: bold;
}


/*Police d'écriture format tél*/

.Mtxt {
    font-size: 24px;
}

.Mtitle {
    font-size: 40px;
    font-weight: bold;
}

.Msection {
    font-size: 40px;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}



/* Style des titres section */

.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.title-section span {
    font-size: xxx-large;
    transform: rotate(1deg);
    padding-right: 20px;
}

/*Style de la div nouveautes*/

.nouveautes{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

/* Alignement entre l'icone et le texte */

.contenu-transport {
    display: block;
    margin-top: 25px;
}

.top-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.top-img-one {
    width: 50%;
    height: 100%; 
}

.top-img-one.reveal{
    transform: translateX(-150px);
    opacity: 0;
    transition: all 2s ease;
}

.top-img-one.reveal.active {
    transform: translateX(0px);
    opacity: 1;
}


.top-img-two.reveal {
    transform: translateX(150px);
    opacity: 0;
    transition: all 2s ease;
}

.top-img-two.reveal.active {
    transform: translateX(0px);
    opacity: 1;
}


.texte-content {
    background-color: rgb(86, 70, 70);
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: space-evenly;
}

.top-img-two {
    width: 50%;
    height: 100%;
}

.top-img-one, .top-img-two{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    padding-top: 30px;
    width:55rem;
    height:55rem;
    margin: 5px;
}

.card-part{
    border: none;
    padding-top: -12px;
    height: 29rem;
    margin: 3px;
}

.card-part img{
    transition: 1s;
}

.card-part img:hover{
    transform: scale(1.1);
}

.card img {
    transition: 1s;
}

.card img:hover {
    transform: scale(1.1);
}

.card-body {
    text-align: center;
    background-color: var(--c6);
    padding-top: 8%;
    padding-bottom: 8%;
    height: 30%;
    color: black;
}


.second-transport {
    display: none;
}

.second-transport-info {
    margin-top: 5%;
    width: 25%;
    height: 70%;
    background-color: var(--c6);
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    justify-content: space-around;
}

.second-transport-info .card-part{
    width: 476px;
}

.second-transport.extend {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.info-top{
    margin-top: 100px;
}


.trapez {
    width: 20%;
    position: absolute;
    border-top: 50px solid var(--c6);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    margin-left: 40%;
    margin-top: 20px !important;
    margin-right: 40%;
    z-index: 999;
}

.trapez p {
    text-align: center;
    font-size: x-large;
    margin-top: -50px;
}

.nouveautes h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (min-width:300px) and (max-width:511px) {

    .trapez {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        z-index: 999;
    }

    .trapez p {
        font-size: 18px;
    }


    .card{
        height: auto !important;
    }

    .card-part{
        width: 600px;
    }

    .nouveautes h2{
        font-size: 10px;
    }

    .second-transport.extend {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .second-transport-info{
        width: 45%;
    }


    .reveal {
        transform: translateX(150px);
        opacity: 0;
        transition: all 2s ease;
    }

    .reveal.active {
        transform: translateX(0px);
        opacity: 1;
    }

    .card-part {
        height: 20rem;
    }


}



@media screen and (max-width:1266px) {


    /* Responsive des transports */
    .top-content {
        display: block;
        padding-bottom: 5px;
    }

    .card-body{
        height: 20%;
        font-size: 15px;
    }

    .second-transport-info{
        padding-left: 2%;
        padding-right: 2%;
    }

    .top-img-one.reveal,
    .top-img-two.reveal {
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 20px;
    }

    .second-transport {
        display: none;
        flex-direction: column;
    }

    .card-part{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 18rem;
        flex-direction: column;
    }

    .nouveautes h2{
        font-size: 30px;
    }



    .trapez {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        z-index: 999;
    }

}